* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }
  .card{
    width: 80%;
    display: flex ;
    box-shadow: 20px 20px 50px 15px grey; ;
    flex-direction: row;
    justify-content: space-between;
  }
 .card_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }
  .card-left > span{
    font-weight: 400;

  }
  .card-left > a{
    margin-top: 15px;
    font-size: 25px;
    color: black;
    font: bold;
    text-decoration: none ;
  }
  .card-left > p{
    color: rgb(56, 54, 54);
  }
